div.container-fluid {
    width:100%;

}

#word-def {
    border: solid black 5px;
    background-image: linear-gradient(#0f0c29, #302b63, #24243e);
}

#word {
    background-image: linear-gradient(#000428, #004e92);
}

body {
    /*background-image: linear-gradient(#0F2027, #203A43, #2C5364);*/
    /*background-image: linear-gradient(#0f0c29, #302b63, #24243e);*/
}


.btn {
    /*border-radius:30px;*/
    border-width: 3px;
}