
img {
  width: 50%;
  height: 100vh;
  vertical-align: middle;
}
.carousel-inner {
    display: flex;
}

#img1 { flex: 1.3344;  }
#img2 { flex: 1.3344;  }
#img3 { flex: 1.3344;  }
#img4 { flex: 1.3344;  }

#myCarousel {
    display: ;
}