{% extends 'study/base.html' %}

{% load studytags mathfilters %}
{% block content %}
<div class="study-content flex-grow-1" style="background:white;margin:40px;">
	<h1 align="center">PROGRESS</h1><br><br>
	<div class="table-responsive-md table-responsive-sm table-hover">
		<table class="table table-lg">
			<thead class="thead-dark">
				<tr>
					<th class="category">Category</th>
					<th class="review">Review</th>
					<th class="tot-progress">Progress</th>
				</tr>
			</thead>
			<tbody class="bg-secondary text-light">
				{% for category in categories %}
					<tr>
						<td class="categories">{{ category }}</td>
						<td class="tot-review-que">{% get_tot_rewords username category %}</td>
						<td class="words-learned">{% get_tot_lwords username category %}/{% get_tot_words category %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<br><br>

	 <div id="accordion">

	  <div class="card">
		<div class="card-header">
		  <a class="card-link" data-toggle="collapse" href="#collapseOne">
			Study
		  </a>
		</div>
		<div id="collapseOne" class="collapse show" data-parent="#accordion">
		  <div class="card-body">
			  <p></p>
		  </div>
		</div>
	  </div>

	  <div class="card">
		<div class="card-header">
		  <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
			Learn
		  </a>
		</div>
		<div id="collapseTwo" class="collapse" data-parent="#accordion">
		  <div class="card-body">
			  <p></p>
		  </div>
		</div>
	  </div>

	  <div class="card">
		<div class="card-header">
		  <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
			Review
		  </a>
		</div>
		<div id="collapseThree" class="collapse" data-parent="#accordion">
		  <div class="card-body">
			<p></p>
		  </div>
		</div>
	  </div>
	 </div>
</div>
{% endblock %}