{% extends 'study/base.html' %}

{% load studytags mathfilters %}
{% block content %}
<div class="study-content flex-grow-1" style="background:white;margin:40px;">
	<h1 align="center">PROGRESS</h1><br><br>
	<div class="table-responsive-md table-responsive-sm table-hover">
		<table class="table table-lg">
			<thead class="thead-dark">
				<tr>
					<th class="category">Category</th>
					<th class="review">Review</th>
					<th class="tot-progress">Progress</th>
				</tr>
			</thead>
			<tbody class="bg-secondary text-light">
				{% for category in categories %}
					<tr>
						<td class="categories">{{ category }}</td>
						<td class="tot-review-que">{% get_tot_rewords username category %}</td>
						<td class="words-learned">{% get_tot_lwords username category %}/{% get_tot_words category %}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<br><br>

	<h2 align="center">Instructions</h2>

	 <div id="accordion">

	  <div class="card">
		<div class="card-header">
		  <a class="card-link text-primary" data-toggle="collapse" href="#collapseOne">
			Study#
		  </a>
		</div>
		<div id="collapseOne" class="collapse show" data-parent="#accordion">
		  <div class="card-body">
			  <p>
				  You can start learning words by clicking on study <strong>link</strong> in the navbar or on the sidebar and can view your progress on dashboard
			  </p>
		  </div>
		</div>
	  </div>

	  <div class="card">
		<div class="card-header">
		  <a class="collapsed card-link text-primary" data-toggle="collapse" href="#collapseTwo">
			Learn#
		  </a>
		</div>
		<div id="collapseTwo" class="collapse" data-parent="#accordion">
		  <div class="card-body">
			  <p>
				  You will get thousands of words to learn of <strong>GRE</strong> & <strong>SAT</strong> category. You can choose any one of
				  them and start learning. You will get <strong>5</strong> sets of words to learn every time you learn and you need to learn
				  <strong>atleast 5</strong> words to go to next 5 words.
			  </p>
		  </div>
		</div>
	  </div>

	  <div class="card">
		<div class="card-header">
		  <a class="collapsed card-link text-primary" data-toggle="collapse" href="#collapseThree">
			Review#
		  </a>
		</div>
		<div id="collapseThree" class="collapse" data-parent="#accordion">
		  <div class="card-body">
			<p>
				In these you can review words which you studied before. You need to study <strong>atleast 5</strong> words to review.
				As you study atleast 5 words you will be directed to review those words and the words studied before.
				Words will appear after certain intervals to review and if you get the correct answer for the respective word
				<strong>3 times</strong> then that word will be added to your progress. You can continue to learn as well.
			</p>
		  </div>
		</div>
	  </div>
	 </div>
</div>
{% endblock %}