{% extends 'study/base.html' %}

{% block content %}
{% load studytags %}
{% load learntags %}
{% load mathfilters %}
<h2>{{ category }}</h2>
{% if learn_words.count %}
    <form method="POST" id="form_data">{% csrf_token %}
        <div>
            <label>{{ learn_words|get_unl_def:l_word_num }}</label>
        </div>
        <div>
            <label>{{ learn_words|get_unl_word:l_word_num }}</label>
        </div>
        <div>
            <button onclick="goto_url()" value="{{ category }}" name="category">Next</button>
        </div>
    </form>
{% else %}
    <form action="{% url 'study' %}">{% csrf_token %}
        <div>
            <label>Congratulations! You have learned all the words</label>
        </div>
    </form>
{% endif %}
<script>
    function goto_url() {
        console.log("Inside goto_url function");
        //console.log("inside url");
        //when user comes to last i.e. 5th or less then 5th word
        if({{ l_word_num }} == {{ learn_words.count }}) {
            document.getElementById("form_data").action="{% url 'review' r_word_num|add:1 %}";
        }
        else {
            document.getElementById("form_data").action="{% url 'learn' l_word_num|add:1 %}";
        }
    }

</script>
{% endblock %}