{% extends 'study/base.html' %}

{% block content %}
{% load studytags %}
{% load learntags %}
{% load mathfilters %}

<body onload="set_form_meth();" onunload="check_meth();">
<div  class="container-fluid justify-content-center" style="margin: 40px 50px;padding:10px 10px;border:solid red 1px;width:100%;">
{% if learn_words.count %}
    <form id="form_data" class="form">{% csrf_token %}
        <div class="d-flex bg-dark display-3 p-5">
            <label>{{ learn_words|get_unl_def:l_word_num }}</label>
        </div>
        <div class="d-flex bg-secondary display-4 justify-content-center">
            <label>{{ learn_words|get_unl_word:l_word_num }}</label>
        </div>
        <div>
            <button onclick="goto_url()" value="{{ category }}" name="category" class="btn btn-primary btn-lg btn-block">Next</button>
            <input type="hidden" id="goback" value="no">
        </div>
    </form>
{% else %}
    <form action="{% url 'study' %}">{% csrf_token %}
        <div>
            <label>Congratulations! You have learned all the words</label>
        </div>
    </form>
{% endif %}
</div>
</body>
<script>
    function set_form_meth() {console.log("{{ l_word_num }}");
        console.log("inside set_form_meth func");
        document.getElementById("form_data").method = "GET";
        console.log(document.getElementById("goback").value);
        window.history.forward();
    }
    function check_meth() {console.log("{{ l_word_num }}");
        console.log("inside check_meth func");
        console.log(document.getElementById("form_data").method);
        if(document.getElementById("form_data").method == "get") {
            console.log("method:get");
            console.log(document.getElementById("goback").value);
            console.log("l_word_num is:"+"{{ l_word_num }}");
            if(document.getElementById("goback").value == "yes" || {{ l_word_num }} == 1) {
                console.log("l_word_num is:"+"{{ l_word_num }}");
                location.href = "{% url 'study' %}"
            }
        }
        if(document.getElementById("form_data").method == "post") {
            console.log("method:post");
        }
    }
    function goto_url() {
        console.log("Inside goto_url function");
        document.getElementById("goback").value = "yes";
        document.getElementById("form_data").method = "POST";
        //when user comes to last i.e. 5th or less then 5th word
        if({{ l_word_num }} == {{ learn_words.count }}) {
            document.getElementById("form_data").action="{% url 'review' r_word_num|add:1 %}"+"?category="+"{{ category }}";
        }
        else {
            document.getElementById("form_data").action="{% url 'learn' l_word_num|add:1 %}"+"?category="+"{{ category }}";
        }
    }
</script>
{% endblock %}