{% extends 'study/base.html' %}

{% block content %}
{% load reviewtags mathfilters %}
<body onload="set_form_meth();disable_next_btn();" onunload="check_meth();" id="body">
<div  class="container-fluid justify-content-center p-0 m-0">
{% if review_words.count %}
    <form method="" id="form_data">{% csrf_token %}
        <div class="p-0" style="height:400px;">
            <div class="d-flex text-dark display-3 p-5 m-t-5 m-b-4 justify-content-center"  style="height:200px;">
                <label>{% get_re_def review_words %}</label>
            </div>
            <div class="d-flex display-4 p-2 m-5 justify-content-center">
                <input type="text" value="" id="word_txt" name="word_txt" autofocus style="width:100%;height:60px;text-align:center">
            </div>
            <div class="btn-group btn-group-lg  w-100">
                <button class="btn btn-primary" type="button" value="" id="button" onclick="checkAns();">
                    <label class="display-4">Submit</label>
                </button>
                <button class="btn btn-primary" onclick="goto_url()" name="user_word_data" value="" id="next" disabled>
                    <label class="display-4">Next</label>
                </button>
            </div>
            <div class="alert alert-warning display-4" style="display:none;" id="showinfo-warn">
                <p style="text-align:center"><strong>Invalid word! </strong>Enter a valid word</p>
            </div>
            <div class="alert alert-danger display-4" style="display:none;" id="showinfo-danger">
                <p style="text-align:center"><strong>Wrong Answer! </strong>Correct answer is <strong>{% get_re_word review_words %}</strong></p>
            </div>
            <div class="alert alert-success display-4" style="display:none;" id="showinfo-success">
                <p style="text-align:center"><strong>Well Done! </strong>Keep it up</p>
            </div>
        </div>
    </form>
{% else %}
    <label>Study more words to review</label>
    <button type="submit" formaction="{% url 'study' %}">Study</button>
{% endif %}
<input type="hidden" id="goback" value="no">
</div>
</body>
<script>
    function disable_next_btn() {
        document.getElementById("next").disabled = true;
    }
    function set_form_meth() {
        console.log("inside set_form_meth func");
        document.getElementById("form_data").method = "GET";
        console.log(document.getElementById("goback").value);
        window.history.forward();
    }
    function check_meth() {
        console.log("inside check_meth func");
        console.log(document.getElementById("form_data").method);
        if(document.getElementById("form_data").method == "get") {
            console.log("method:get");
            console.log(document.getElementById("goback").value);
            if(document.getElementById("goback").value == "yes") {
                console.log("im in");
                location.href="{% url 'study' %}";
            }
        }
        if(document.getElementById("form_data").method == "post") {
            console.log("method:post");
        }
    }
    function checkAns() {
        console.log("Inside check_Ans function");
        var user_word = document.getElementById("word_txt").value;

        if(!user_word.match(/^[A-Za-z]+$/)) {
            showInfo = document.getElementById("showinfo-warn");
            showInfo.style.display = "block";
            setTimeout(function(){hideInfo(showInfo)}, 3000); //hideInfo after 3sec
        }
        else {
            console.log("Disable Text and Submit Button");
            document.getElementById("word_txt").disabled = true;
            document.getElementById("button").disabled = true;
            document.getElementById("next").disabled = false;
            console.log("Disabling done successfully");

            if(user_word.toLowerCase()=="{% get_re_word review_words %}") {
                showInfo = document.getElementById("showinfo-success");
                showInfo.style.display = "block";
                document.getElementsByTagName("input")[1].style.background = "green";
            }
            else {
                showInfo = document.getElementById("showinfo-danger");
                document.getElementsByTagName("input")[1].style.background = "red";
                showInfo.style.display = "block";
                console.log("Showing info for 3 sec");
                setTimeout(function(){hideInfo(showInfo)}, 3000); //hideInfo after 3sec
                console.log("Info shown successfully");
            }
            console.log("Enabling Next Button");
            document.getElementById("next").disabled = false;
            console.log("Next Button enabled successfully");
        }
    }
    function hideInfo(showInfo) {
        console.log("Inside hideInfo function");
        showInfo.style.display = "none";
    }
    function goto_url() {
        console.log("Inside goto_url function");
        var user_word = document.getElementById("word_txt").value;
        document.getElementById("next").value = [user_word, "{{ category }}"];
        document.getElementById("goback").value = "yes"
        document.getElementById("form_data").method = "POST";
        document.getElementById("form_data").action = "{% url 'review' r_word_num|add:1 %}"+"?category="+"{{ category }}";
    }
</script>
{% endblock %}