{% extends 'study/base.html' %}

{% block content %}
{% load mathfilters %}
{% load studytags %}
<form method="POST" action="{% url 'learn' l_word_num|add:1 %}">{% csrf_token %}

<label class="category"><strong>Category</strong></label>
<label class="review"><strong>Review</strong></label>
<label class="progress"><strong>Progress</strong></label><br><br>

{% for category in categories %}
    <label class="categories">{{ category }}</label>
    <label class="tot-review-que">{% get_tot_rewords username category %}</label>
    <label class="words-learned">{% get_tot_lwords username category %}/{% get_tot_words category %}</label>
    <button name="category" type="submit" class="review-btn" value="{{ category }}">Review</button>
    <button name="category" type="submit" class="learn-btn" value="{{ category }}">Learn</button>
    <br>

{% endfor %}


</form>

{% endblock %}